.rate {
  position: relative;
  background-color: #e5e5e5;
  padding: 190px 0px 100px 0px;
}
.rate__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 50px;
}
.rate__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 40px 0 15px 0;
  border-bottom: 1px solid rgba(45, 57, 66, 0.2);
}
.rate__menu_li {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #475661;
}
.rate__menu_li + .rate__menu_li {
  padding: 0 0 0 40px;
}
.rate__menu_li:hover {
  opacity: 0.8;
  cursor: pointer;
}
.rate__menu_red {
  border-bottom: 2px solid #ee2e24;
}
.rate__cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 50px 40px 50px;
}
