.header {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  position: relative;
  max-width: 1380px;
  margin: 0 auto;
  padding: 20px 50px 0 50px;
  background-color: #ffffff;
}
.header__main-nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 17px 0;
}
.header__main-nav-wrapper_menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}
.header__main-nav-wrapper_menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}
.header__main-nav-wrapper_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 25px;
}
.header__main-nav-wrapper_li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header__main-nav-wrapper_li:hover {
  opacity: 0.8;
  cursor: pointer;
}
.header__main-nav-wrapper_li + .header__main-nav-wrapper_li {
  padding: 0 0 0 20px;
}
.header__main-nav-wrapper_button {
  border: none;
  background-color: #ffffff;
  color: #2d3942;
  padding: 0;
}
.header__main-nav-wrapper_button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.header__main-nav-wrapper_red {
  color: #ee2e24;
}
.header__main-nav-wrapper_underline {
  position: relative;
  display: inline-block;
  border-bottom: 2px solid #ee2e24;
}
.header__main-nav-wrapper_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__main-nav-wrapper_position + .header__main-nav-wrapper_position {
  padding: 0 0 0 25px;
}
.header__main-nav-wrapper_img {
  padding: 0 10px 0 0;
}
.header__site-nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 25px 0;
  border-top: 1px solid #475661;
}
.header__site-nav-wrapper_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header__site-nav-wrapper_li {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.header__site-nav-wrapper_li:hover {
  opacity: 0.8;
  cursor: pointer;
}
.header__site-nav-wrapper_li + .header__site-nav-wrapper_li {
  padding: 0 0 0 35px;
}
.header__site-nav-wrapper_button {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ee2e24;
  border: 1px solid #ee2e24;
  padding: 7px 34px;
}
