.banner {
  position: relative;
  background-color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner__all {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1380px;
  height: 605px;
  margin: 0;
}
.banner__info {
  max-width: 542px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  padding: 0;
}
.banner__info_title {
  font-style: normal;
  font-weight: bold;
  font-size: 66px;
  line-height: 100%;
  margin: 0 0 20px 0;
  padding: 0;
}
.banner__info_description {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  margin: 0;
  padding: 0;
  opacity: 0.7;
}
.banner__info_button {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  background-color: #ee2e24;
  color: #ffffff;
  padding: 15px 60px;
  margin: 45px 0 0 0;
  border: none;
}
.banner__picture {
  position: relative;
  max-width: 100%;
}
.banner__circle {
  position: relative;
  width: 444px;
  height: 444px;
  background-color: #ee2e24;
  border-radius: 50%;
}
.banner__circle_img {
  position: absolute;
  width: 592px;
  height: 367px;
  top: 0;
  right: -50px;
}
.banner__pointer {
  position: relative;
}
.banner__pointer:hover {
  opacity: 0.8;
  cursor: pointer;
}
.banner__scrolling {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 630px;
  bottom: 100px;
}
.banner__scrolling_red {
  position: absolute;
  left: -7px;
}
.banner__scrolling_red:hover {
  opacity: 0.8;
  cursor: pointer;
}
.banner__scrolling_gray {
  position: relative;
  padding: 0 20px 0 0;
}
.banner__scrolling_gray:last-child {
  padding: 0;
}
.banner__scrolling_gray:hover {
  opacity: 0.8;
  cursor: pointer;
}
.banner__action {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  bottom: -50px;
  left: 100px;
  padding: 25px 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 40px rgba(55, 55, 65, 0.15);
          box-shadow: 0px 10px 40px rgba(55, 55, 65, 0.15);
  z-index: 10;
}
.banner__action_address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 80px 0 0;
}
.banner__action_address:last-child {
  padding: 0;
}
.banner__action_address:hover {
  opacity: 0.8;
  cursor: pointer;
}
.banner__action_heading {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 0 0 0 20px;
}
