.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2d3942;
  padding: 70px 80px 60px 80px;
  color: #ffffff;
}
.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 64px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer__header_block {
  position: relative;
}
.footer__header_block + .footer__header_block {
  padding: 0 0 0 100px;
}
.footer__text-light {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.footer__text-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  margin: 0;
  padding: 20px 0 0 0;
}
.footer__text-dark {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  opacity: 0.4;
  margin: 0;
  padding: 2px 0 0 0;
}
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 70px 0 0 0;
  margin: 0;
}
.footer__ul {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__ul + .footer__ul {
  padding: 0 0 0 120px;
}
.footer__heading {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding: 0 0 27px 0;
  margin: 0;
}
.footer__li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  opacity: 0.8;
}
.footer__li + .footer__li {
  padding: 10px 0 0 0;
  margin: 0;
}
.footer__li:hover {
  opacity: 0.8;
  cursor: pointer;
}
.footer__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0 0 0;
  margin: 0;
}
.footer__text {
  position: relative;
}
.footer__text + .footer__text {
  padding: 0 0 0 100px;
}
.footer__small {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 120%;
  opacity: 0.4;
  margin: 0;
}
.footer__small + .footer__small {
  padding: 10px 0 0 0;
}
.footer__img {
  background-color: #2d3942;
}
.footer__img:hover {
  opacity: 0.8;
  cursor: pointer;
}
