.compose {
  position: relative;
  background-color: #e5e5e5;
  padding: 0 50px;
  z-index: 10;
}
.compose__modifier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0 0 0;
}
.compose__modifier_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.compose__modifier_parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.compose__modifier_parameters + .compose__modifier_parameters {
  margin: 20px 0 0 0;
}
.compose__modifier_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
.compose__modifier_header-left {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #475661;
}
.compose__modifier_header-right {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #475661;
  opacity: 0.5;
}
.compose__modifier_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}
.compose__modifier_li {
  list-style-type: none;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  padding: 16px 30px;
  background: rgba(71, 86, 97, 0.1);
  border-radius: 40px;
}
.compose__modifier_li + .compose__modifier_li {
  margin: 0 0 0 10px;
}
.compose__modifier_li:hover {
  opacity: 0.8;
  cursor: pointer;
}
.compose__modifier_li-color {
  background-color: #475661;
  color: #ffffff;
}
.compose__modifier_result {
  position: relative;
  background-color: #ffffff;
  width: 530px;
  height: 397px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 40px rgba(55, 55, 65, 0.15);
          box-shadow: 0px 10px 40px rgba(55, 55, 65, 0.15);
  padding: 50px 50px 40px 50px;
  z-index: 1;
}
.compose__modifier_circle {
  position: absolute;
  background-color: #1acfcf;
  background-size: contain;
  width: 397px;
  height: 397px;
  border-radius: 50%;
  left: -80px;
  top: -80px;
  z-index: -1;
}
.compose__modifier_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}
.compose__modifier_tarif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.compose__modifier_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  padding: 0;
}
.compose__modifier_left-li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.compose__modifier_left-li + .compose__modifier_left-li {
  margin: 30px 0 0 0;
}
.compose__modifier_left-text {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  padding: 0;
  margin: 0 0 0 25px;
}
.compose__modifier_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
  padding: 0;
  max-width: 180px;
}
.compose__modifier_right-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #475661;
  opacity: 0.5;
  padding: 0;
  margin: 0;
}
.compose__modifier_right-indent {
  margin: 0 0 50px 0;
}
.compose__modifier_right-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 25px 0;
}
.compose__modifier_right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 12px;
}
.compose__modifier_right-big {
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 100%;
  margin: 0;
  padding: 0;
}
.compose__modifier_right-underline {
  border-bottom: 1px solid rgba(45, 57, 66, 0.4);
  padding: 0 0 10px 0;
}
.compose__modifier_right-underline:last-child {
  border-bottom: none;
  padding: 10px 0 0 0;
}
.compose__footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.compose__button {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: #ee2e24;
  color: #ffffff;
  border: none;
  padding: 17px 200px;
}
.compose__detailed {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #475661;
  opacity: 0.6;
  padding: 20px 0;
  margin: 0;
}
.compose__detailed:hover {
  opacity: 0.8;
  cursor: pointer;
}
